%%-*- mode: erlang -*-

{deps, [
        {cutkey, "0.1", {git, "git://github.com/andrewtj/cutkey"}},
        {poolboy, ".*", {git, "git://github.com/devinus/poolboy"}},
        {epgsql, ".*", {git, "git://github.com/wg/epgsql"}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git"}}
        ]}.
{sub_dirs, ["rel"]}.
