%% Config file

[{subscripterl, [
                  {pools, [
                    {pool1, [
                      {size, 10},
                      {max_overflow, 20}
                    ], [
                      {hostname, "127.0.0.1"},
                      {database, "db1"},
                      {username, "db1"},
                      {password, "abc123"}
                    ]}
                  ]}
                ]}
].
